html,
body {
  padding: 0;
  margin: 0;
  margin-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color:#141816 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}

.posts {
  width: 70%;
  margin: 1em 20%;
  margin-top: 40px;
}

.post-body {
  margin-bottom : 20px;
  box-shadow: 20px 20px #000;
  transition: 0.2s;
}

.post-body:hover {
  /* margin-top: 10px; */
  /* margin-bottom : 11px; */
  box-shadow: 0px 0px #000;
  border: 5px solid white;
  border-radius: 5rem;
}

.search-bar {
  margin-top: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 10px;
  padding-left: 30px;
  font-size: 22px;
  max-width : 31.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: #fff;
  box-shadow: 10px 10px #000;
}

.create-post {
  background-color: #300707 !important;
  border-color: #fff !important;
  transition: 1s;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5) !important;
}

.create-post:hover {
  margin-top: 10px;
}

.create-post-page{
  margin: 5%;
  padding: 20px;
  display: inline-block;
  box-shadow: 20px 20px black;
}

* {
  text-decoration: none !important;
}

.post-form {
  margin-right: 5em;
}

.tag-input {
  padding-left: 0 !important;
}

.form-group {
  margin-top: 0px !important;
}

.question-input {
  width: 100%;
}

.tag-row {
  margin-top: 25px !important;
}

.post-page {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0%;
  margin-bottom: 1%;
}

.comment-body {
  margin-left: 8%;
  margin-right: 20%;
  margin-top: 1%;
  box-shadow: 15px 15px #000;
}

.comments {
  margin-bottom:5%;
}


.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
}

.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field.active {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.field.active input {
  padding: 24px 16px 8px 16px;
}

.field.active input + label {
  top: 4px;
  opacity: 1;
  color: #000;
}

.field.locked {
  pointer-events: none;
}

.field input {
  width: 100%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.field input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.field input + label {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}

.field input + label.error {
  color: #ec392f;
}

.field p.predicted {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #e0e0e0;
  opacity: 1;
  pointer-events: none;
}

.boxsize {
  width: 30em;
  padding: 2%;
}

.centre {
  display: grid;
  margin-left: 33%;
}

.logo {
  position: absolute;
  width: 350px;
  left: 37%;
  bottom: 45%;
}
