.slide-wrapper {
  width: 30em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.slide-subwrapper {
  display: flex;
}

/* //Style={{justifyContent: "center", overflow: "hidden", backgroundColor: 'black', display: "flex"}} */
.slide {
  /* width: 30em; */
  /* display:flex;
  flex-shrink: 0; */
}
