html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}

.posts {
  width: 70%;
  margin: 1em 20%;
}

.search-bar {
  margin-top: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 10px;
  padding-left: 30px;
  font-size: 30px;
  max-width : 31.25rem;
  border: thin;
  background-color: aliceblue;
  border-radius: 1.625rem;
}

.create-post {
  background-color: #300707 !important;
  border-color: #300707 !important;
}

.create-post-page{
  margin: 10%
}